# Python I/O

In [18]:
import io

In [20]:
file = io.open("data.txt", "rb", buffering = 5)
 
print(file.read())
 
file.close()

b'First line of data\nSecond line of data'

In [7]:
# First, explicitly open the file object for reading
file_obj = open('data.txt', 'r')

# You can then loop through the file object, grabbing each line of data
for line in file_obj:
    # Here we explicitly remove the new line marker at the end of each line (the '\n')
    print(line.strip('\n'))

# File objects then have to closed when you are finished with them
file_obj.close()

First line of data
Second line of data

In [9]:
# Use 'with' keyword to open, read, and then close a file
with open('data.txt', 'r') as file_obj:
    for line in file_obj:
        print(line.strip('\n'))

First line of data
Second line of data

# Pandas I/O

In [10]:
import pandas as pd

C:\Users\HP\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [21]:
file = io.open("data.csv", "rb", buffering = 5)
 
print(file.read())
 
# Close the file
file.close()

b'1, 2, 3, 4\n5, 6, 7, 8\n9, 10, 11, 12'

In [23]:
pd.read_csv('data.csv',header=None)

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [24]:
file = io.open("data.json", "rb", buffering = 5)
 
print(file.read())
 
file.close()

b'{\n  "firstName": "John",\n  "age": 53\n}'

In [25]:
d = {'firstName' : 'John','age' : '53'}
print(d)

{'firstName': 'John', 'age': '53'}

In [27]:
print(type(d))

<class 'dict'>

In [28]:
# You can read in json formatted strings with pandas
#  Note that here I am specifying to read it in as a pd.Series, as there is a single line of data
pd.read_json('{ "first": "Alan", "place": "Manchester"}', typ='series')

C:\Users\HP\AppData\Local\Temp\ipykernel_8552\7670669.py:3: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json('{ "first": "Alan", "place": "Manchester"}', typ='series')

first          Alan
place    Manchester
dtype: object

In [30]:
pd.read_json('data.json',typ='series')

firstName    John
age            53
dtype: object